[submodule "userland/noct/noct-upstream"]
	path = userland/noct/noct-upstream
	url = https://github.com/awemorris/NoctLang.git
[submodule "vendor/gcc"]
	path = vendor/gcc
	url = https://github.com/awemorris/gcc-i386.git
[submodule "vendor/musl"]
	path = vendor/musl
	url = https://github.com/awemorris/musl-i386.git
