echo zedBSD-POSIX-PHASE3-QEMU-START
gencat /messages.cat /etc/phase3-messages.msg && echo zedBSD-POSIX-PHASE3-GENCAT-PASS
localedef -f /etc/UTF-8.charmap -i /etc/zed-test-locale.src /zed-test && echo zedBSD-POSIX-PHASE3-LOCALEDEF-PASS
LOCPATH=/
LC_ALL=zed-test
export LOCPATH LC_ALL
test "$(locale decimal_point)" = '","' && echo zedBSD-POSIX-PHASE3-LOCALE-PASS
test "$(tput -T zed cols)" = 80 && test "$(tput -T zed longname)" = "zedBSD virtual console" && echo zedBSD-POSIX-PHASE3-TPUT-PASS
tabs -T zed -8 && echo zedBSD-POSIX-PHASE3-TABS-PASS
tput -T no-such-terminal clear || echo zedBSD-POSIX-PHASE3-TPUT-NEGATIVE-PASS
echo zedBSD-POSIX-PHASE3-QEMU-PASS
halt
